<div>
  <ul ng-hide="mode === 'single'">
    <note body="note.body" ng-repeat="note in notes" ng-click="showArticle(note)"></note>
  </ul>
  <div ng-hide="mode === 'list'" ng-click="showArticle()">
    {{currentNote.title}}
    {{currentNote.body}}
  </div>
  <form ng-submit="addNote(title, body)">
    <input type="text" ng-model="title"/>
    <input type="text" ng-model="body"/>
    <button type="submit">submit</button>
  </form>
  <label>List<input type="radio" name="mode" value="list" ng-model="mode" ng-change="changeView()"/></label>
  <label>Single<input type="radio" name="mode" value="single" ng-model="mode" ng-change="changeView()"/></label>
</div>